[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    width: 171px;
    height: 36px;
    left: 70px;
    top: 1019px;
    border: 1px solid #323232;
    border-radius: 2px;
    background-color: var(--background);
    color: var(--color);
}
