.message {
    /*border: 5px solid red;*/
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    /*margin: 10px;*/
    /*padding: 10px;*/

}

.imageAndText img {
    max-height: 50px;}
.text {
    width: fit-content;
    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    margin-right: 5px;
    border-radius: 10px;
}

.text:after {

}

.name {
    color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 5px;
}

.messageText {
    background-color: #0066cc;
    color: #FFFFFF;
}

.time {
}
