.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
    background-color: lightgray;
}

.developerHeader {
    background-color: lightgray;
    border: 1px solid red;

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
    border: 1px solid red;

}

.loading {

}