.buttonsContainer {
    /*border: 1px solid red;*/
    gap: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.editableSpanContainer {
    /*border: 1px solid red;*/
    margin: 20px 10px;
    color: #0080ff;
}