.friendMessage {
    /*border: 5px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friendImageAndText {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.friendImageAndText img {
    height: 50px;
    width: 50px;
}

.friendText {
    background-color: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px 5px 5px 0px;

}

.friendText:after {

}

.friendName {
    font-weight: bold;
    padding-bottom: 5px;

}

.friendMessageText {

}

.friendTime {
    margin-left: 5px;
    font-weight: bold;
}
