.greetingForm {
}
.inputAndButtonContainer {
    display: flex;
    align-items: flex-start;

}

.error {
    margin: 5px 0;
    color:#CC0000;
}

.input {
    color: blue;
    font-weight: bolder;
    border-radius: 3px;
    height: 25px;
    padding: 2px 14px;

}

.input:focus {
    outline: none;
    border: 2px solid blue ;
}

.errorInput {
    border-radius: 3px;
    height: 25px;
    padding: 2px 14px;

}

.button {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    /*background: #0066CC;*/
    /*border-radius: 5px;*/
    /*align-items: center;*/
    /*padding: 5px 20px;*/
    /*color: #FFFFFF;*/
    width: 55px;
    height: 25px;
    padding: 2px 14px;
    background-color: #0080ff;
    border-radius: 3px;
    border: none;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.button:focus {

}

.button:active {

}

.button:disabled {
    opacity: 0.5;
    z-index: -1;
    cursor: none;
}

.text {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    margin: 5px 0;
    opacity: 0.5;


}
