.button {
    overflow: hidden;
    padding: 5px 24px;

    border-radius: 3px;
    border: none;
/*min-width: 10vw;*/
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.disabled {
    color: whitesmoke;
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    background: transparent;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.default {
    background: blue;
}

.red {
    background: #cc1439;
}

.default:hover {
    background: #0080ff;
}

.red:hover {
    background: #ff1a47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: #0059b3;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    /*background: #b31232;*/
}

.button:disabled {
    background: #004d99;
    cursor: default;
}
