.container {
    /*border: 2px solid red;*/
    /*width: 25%;*/

}

.wrapper {
    /*border: 2px solid red;*/
    width: 35%;
    display: flex;
    /*justify-content: flex-start;*/
    /*gap: 20px;*/
    align-items: center;

}

.number {
    /*background-color: #cc0000;*/
    /*border: 2px solid red;*/
    font-weight: bolder;
    margin: 0 20px;


}
